button {
    font-family: $Poppins;
    font-size: $small;
    border: none;
    padding: 0.7rem 2rem;
    &:hover {
        background-color: $light-gray;
        //color: $raisin-black;
    }
    &:focus {
        background-color: $nickrl;
    }
}