/* Column Drop */
.section {
width: 100%; 
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;

    }
    .columna1,
    .columna2 {
    width: 100%;    
    }

    @media (min-width: 320px) {
        .columna1 {
        width: 100%;
        -webkit-order: 2;
        order: 2;
        
        }
        .columna2 {
        width: 100%;
        -webkit-order: 1;
        order: 1;
        
        }        

        }
    
    @media (min-width: 600px) {
    .columna1 {
    width: 100%;
    -webkit-order: 1;
    order: 1;
    }
    .columna2 {
    width: 100%;
    -webkit-order: 2;
    order: 2;
    }
    
    }
    @media (min-width: 800px) {
    .columna1 {
    width: 40%;
    -webkit-order: 1;
    order: 1;
    }
    .columna2 {
        width: 60%;
        -webkit-order: 2;
        order: 2;
       
        }
    }


.rotated {
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    background-color: white;
    text-align: right;
  }


  .secction_newsletter {
      width: 90%;
      padding: 15%;
      background-color: $fuzzy-Wuzzy;  
      float: left;
  }

  .secction_button {
    width: 5%;
    float:left;
    margin-top: 25%; 
    margin-left: -35px;   
    font-style: $bold;   
  }