nav{
    background-color:$Sable;
    color: $white;
    height:60px;
    grid-column-start: 1;
    grid-column-end: -1;
    align-items: center;
    padding-left: 10px;

    }

.nav__logo {
height: 40px;
width: 40px;
}

.navbar-toggler {
    background-color: $white;
}

.nav-link {
    color:$white !important;
}


@media only screen and (max-width: 700px) {
    .nav-link {
        color: $black !important;
    }
  }