.nav {
    display: flex;  
    box-sizing: border-box;  
       
}

.nav__item-left {
    box-sizing: border-box;
    //text-align: center;
    width: 49%;      
}

.nav__item-right{
    display: flex;
    box-sizing: border-box;
    width: 49%;
    justify-content:flex-end;
}

.item {
    box-sizing: border-box;
 }


 @media only screen and (max-width: 550px) {
      
    .nav__item-sm  {
      display: none;
    }

    .nav__item-left {
        justify-content: flex-start;
    }

    .nav__item-right{
        justify-content: flex-end;
    }
 }