$Roboto: "Roboto";
$regular: 300;
$semi-bold: 500;
$bold: 700;
$italic: "italic";

$white: #fff;
$platinum: #e6e7e7;
$light-gray: #D1D1D1;
// Second Color Scheme
$fuzzy-Wuzzy: #E56353;
$ruddy-Pink: #D76C39;
$spanish-pink: #ECBCBA;
//Third Color Scheme
$eerie-black: #141619;
$raisin-black: #222323;
$nickrl: #6c6e70;

//Font Family
$Roboto: 'Roboto', sans-serif;

// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
//$x-small: 12px;