.header {
  font-family: $Roboto;
  overflow: hidden;
  
  // height: inherit;
  // height: initial;
  // height: unset;  
  // height: 180px;
     
  }
  *{
    padding: 0;
    margin: 1px;
    box-sizing: border-box;
  }
  
  .banner{
    min-height: 35vh;
    overflow: hidden;
    position: relative;
  }
  
  .container_img{
    position: absolute;
    height: 20%;
    top: -150%;
    bottom: -40%;    
     }

     @media only screen and (max-width: 500px) {
      
      .container_img{
        width: 100%;
        margin: 0px;
        height: 150px;
        overflow: hidden;
        position: relative;
        top: -80px;
      
         }      
      
     }
    
    
