.nav {
    display: inline-block;
    width: 90%;
    text-align: right;
}

.menu {
    width: 100%;
    //@error: 10px;
    //margin-left: 60px;
    margin-left: 5%;
    border-bottom: 1px solid gray;
    justify-content: center;
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.input-menu {
    border-radius: 10%;
}

