.nav {
    display: inline-block;
    width: 90%;
    text-align: right;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav__menu {    
    border-bottom: 2px solid rgb(31, 2, 161);
    justify-content: center;
    display: flex;
    text-align: center;
}

.nav__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav__input-menu {
    border-radius: 10%;
}

