$Lora:'Lora';
$regular: 400;
$semi-bold: 600;
$bold: 600;

$white: #fff;
$platinum: #ECECEC;
$light-gray: #D1D1D1;
// Second Color Scheme
$fuzzy-Wuzzy: #0C0910;
$ruddy-Pink: #646266;
$spanish-pink: #A6A5AB;

$azul:rgb(89, 89, 245);

//Font Family
$lora: 'Lora', serif;


// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;