 * {
    box-sizing: border-box;
    align-items: center;
 }

body {
    font-family: monospace;
   // width: 100%;
}

// .container {
//     width: 10%;
//     padding: 20px;
// }


// @media (min-width: 992px) {
//     .container {
//     width: 970px;
//     }
//     }

//     @media (min-width: 1200px) {
//         .container {
//         width: 1170px;
//         }
//         }

//         @media (min-width: 768px) {
//             .container {
//             width: 750px;
//             }
//             }
            
        