html{
  scroll-behavior: smooth;
}

.carousel-indicators {
    bottom: 50px;
    
}

.carousel-indicators li {
    height: 10px;
}

  body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: auto; 
    
  }

  .nav{
    position: relative;
    z-index: 1000;
    background-color: transparent;
 }

 .header {
    background: url(../img/carousel1.jpg) no-repeat center;
    
    }
  

  .header .navbar {
    background-color: transparent !important;
  }

  .fondo-cel
  {
    background-color: cornflowerblue; 
  }

 .titSeccion2
 {
  background-color: cornflowerblue;
  margin-bottom: 10px; 
 }

 .dropdown-divider {
    border-color:cornflowerblue;
 }

 .container {
    padding: 30px;
 }

