$old-stan:'Old Standard TT';
$regular: 400;
$semi-bold: 600;
$bold: 700;

$white: #fff;
$platinum: #ECECEC;
$light-gray: #D1D1D1;
// Second Color Scheme
$fuzzy-Wuzzy: #0C0910;
$ruddy-Pink: #646266;
$spanish-pink: #A6A5AB;

