:root {
  font-family: monospace;
  }

  body {
      margin: 5px;
     padding: 5px;
    
  }

   
  .container {
    display: flex;  /* Por defecto en modo fila, uno al lado del otro */
    flex-flow: row wrap;
    margin: 0px;
    padding: 0px;
    // height:100%; 
    // width:100%;
    }

    .container-fluid {
      width: 90%;
      padding-top: 20px;
      justify-content: center;
      text-align: left;
    }

    