h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Spartan;
}

h1 {
    font-style: $semi-bold;
    font-size: $x-large;
}

h3 {
    font-family: $semi-bold;
    font-style: $regular;
}

h4 {
    font-style: $bold;
}

p {
    color: $nickrl;
}